.sidepanel-title {
  text-align: center;
}

.sidepanel-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.open-nav {
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(63, 63, 63);
  padding: 10px;
  cursor: pointer;
}

.open-nav:hover {
  background-color: var(--bg-alt);
}
