.logout-btn {
  width: 150px;
  height: 40px;
  text-align: center;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(139, 8, 8);
  color: white;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: rgb(94, 6, 6);
  transform: scale(1.0375);
}
