.page-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.page-header-back {
  position: absolute;
  left: 20px;
  cursor: pointer;
}

.page-title {
  text-align: center;
}
