.game-main {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.game-wrapper {
  width: 100%;
  margin: 0px 5px 0px 5px;
  padding: 35px 25px 35px 25px;
  border-radius: 10px;
  background-color: var(--bg-primary);
}
