.profile-main {
  position: relative;
  display: flex;
  flex-grow: 1;
  padding: 35px 25px 35px 25px;
}

.profile-wrapper {
  width: 100%;
  margin: 0px 5px 0px 5px;
  border-radius: 10px;
  overflow-y: scroll;
}

.my-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  background-color: var(--bg-primary);
  border-radius: 10px;
}

.my-profile-hr {
  width: 100%;
  height: 1px;
  margin: 35px 0px;
  color: var(--bg-alt);
}

.winrate-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-winrate-wp {
  margin-left: 5px;
  font-weight: lighter;
  color: var(--text-disabled);
}
