.nav-button {
  width: 150px;
  height: 40px;
  text-align: center;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(0, 102, 150);
  color: white;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #004e72;
  transform: scale(1.0375);
}
