.nav-button {
  width: 150px;
  height: 40px;
  text-align: center;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background-color: #161616;
  color: white;
  cursor: pointer;
}

.admin-nav-button {
  background-color: #161616;
}

.nav-button:hover {
  background-color: #0f0f0f;
}

.admin-nav-button:hover {
  background-color: #0f0f0f;
}
