.submit-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;
  background-color: var(--bg-primary);
  border-radius: 10px;
}

.submit-form-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 10px;
}

.submit-form-required {
  color: rgb(139, 8, 8);
}

.submit-form-control {
  margin: 5px 0px 5px 0px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(199, 199, 199);
}

.submit-form-note {
  font-size: small;
  font-weight: lighter;
}

.submit-form-radio-group {
  display: flex;
}

.submit-form-radio-option {
  margin-right: 20px;
}

.submit-form-radio-label {
  padding-left: 4px;
}

.submit-form-buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-form-submit {
  width: 100px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  padding: 15px 35px 15px 35px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--text-primary);
  background-color: var(--btn-primary);
}

.submit-form-submit:hover {
  background-color: var(--btn-primary-d);
}

.submit-form-cancel {
  width: 100px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  padding: 15px 35px 15px 35px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--text-primary);
  background-color: rgb(139, 8, 8);
}

.submit-form-cancel:hover {
  background-color: rgb(94, 6, 6);
}

@media screen and (max-width: 1024px) {
  .submit-form-radio-group {
    flex-direction: column;
  }

  .submit-form-radio-option {
    margin-right: 0px;
  }
}
