.avatar-img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.user-info {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.user-wrapper {
  display: flex;
}

.user-amateur {
  color: rgb(58, 196, 238);
}

.user-beginner {
  color: rgb(165, 54, 3);
}

.user-pro {
  color: rgb(233, 185, 26);
}

.user-master {
  color: rgb(18, 218, 141);
}

.user-virtuoso {
  color: rgb(22, 76, 224);
}

.user-grandmaster {
  color: rgb(141, 23, 238);
}

.user-legend {
  color: rgb(255, 15, 15);
}

.user-role {
  width: 100%;
  font-size: small;
  font-weight: lighter;
  color: rgb(179, 179, 179);
}
