.friendlist {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.friendlist-ul {
  width: 100%;
  list-style: none;
  margin-top: 15px;
  overflow-y: auto;
}

.friendlist-ul::-webkit-scrollbar {
  display: none;
}
