* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr;
}

.grid-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
}
