.challenge-button {
  width: 100px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 35px 15px 35px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--text-primary);
}

.challenge-button-disabled {
  width: 100px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 35px 15px 35px;
  border: none;
  border-radius: 10px;
  cursor: not-allowed;
  color: var(--text-primary);
}

.challenge-button-ONLINE {
  background-color: var(--btn-primary-d);
}

.challenge-button-OFFLINE {
  background-color: var(--text-disabled-d);
}

.challenge-button-PENDING {
  background-color: var(--text-disabled-d);
}

.challenge-button-PLAYING {
  background-color: var(--btn-secondary-d);
}

.challenge-button-ONLINE:hover {
  background-color: var(--btn-primary);
}
